<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fotostm.css"/>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="jquery.min.js"></script>
    <title>Document</title>
    <div class="head">

        <div class="logo">
            
        </div>
    
        <nav class="navbar">
            
                <img src="usu.png" class="img" alt="">
                
                <img src="sal.png" class="img" alt="">
                <a href="logout">Logout</a>
           
                
         
        </nav>
    
    </div>
</head>
<body>
    <header class="content header">
        <div class="parrafos">
            Gestion Mesas
        </div>
    </header>
    <div class="contenedor">
        <div class="opciones">
            
    <a class = "btn-fin" id ="rutas" href="/m1E"><img src="mesa10.png" class="icono">Mesa 1 Entregar</a>
</div>
<div class="opciones">
    <a class = "btn-fin" id ="rutas" href="/m1R"><img src="mesa10.png" class="icono">Mesa 1 Recibir</a>
</div>
        
    </div> 
     <div class="contenedor">
        <div class="opciones">
    <a class = "btn-fin" id ="rutas" href="/m2E"><img src="mesa10.png" class="icono">Mesa 2 Entregar</a>
</div>
<div class="opciones">
    <a class = "btn-fin" id ="rutas" href="/m2R"><img src="mesa10.png" class="icono">Mesa 2 Recibir</a>
</div>
        
    </div> 
            

</body>
</html>