<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Mesas en línea</title>
  <link rel="stylesheet" href="linea.css">
</head>
<body>
  <h1>Mesas en línea</h1>
  
  <div class="contenedor">
    <div class="mesa">
    <img src="mesa10.png" alt="Mesa 1">
    <p>Mesa 1</p>
    <div class="focos">
      <%if(mesa1){%>
      <span class="foco rojo"></span>
      
      <span class="foco verde encendido"></span>
      <%}else{%>
        <span class="foco rojo encendido"></span>
        <span class="foco verde"></span>
        <%}%>
    </div>
  </div>

     <div class="mesa">
    <img src="mesa10.png" alt="Mesa 1">
    <p>Mesa 2</p>
    <div class="focos">
      <%if(mesa2){%>
      <span class="foco rojo"></span>
      
      <span class="foco verde encendido"></span>
      <%}else{%>
        <span class="foco rojo encendido"></span>
        <span class="foco verde"></span>
        <%}%>
    </div>
  </div>

     <div class="mesa">
    <img src="mesa10.png" alt="Mesa 1">
    <p>Mesa 3</p>
    <div class="focos">
      <%if(mesa3){%>
      <span class="foco rojo"></span>
      
      <span class="foco verde encendido"></span>
      <%}else{%>
        <span class="foco rojo encendido"></span>
        <span class="foco verde"></span>
        <%}%>
    </div>
  </div>

     <div class="mesa">
    <img src="mesa10.png" alt="Mesa 1">
    <p>Mesa 4</p>
    <div class="focos">
      <%if(mesa4){%>
      <span class="foco rojo"></span>
      
      <span class="foco verde encendido"></span>
      <%}else{%>
        <span class="foco rojo encendido"></span>
        <span class="foco verde"></span>
        <%}%>
    </div>
  </div>

     <div class="mesa">
    <img src="mesa10.png" alt="Mesa 1">
    <p>Mesa 5</p>
    <div class="focos">
      <%if(mesa5){%>
      <span class="foco rojo"></span>
      
      <span class="foco verde encendido"></span>
      <%}else{%>
        <span class="foco rojo encendido"></span>
        <span class="foco verde"></span>
        <%}%>
    </div>
  </div>
  </div>
  <div class="opciones" style="font-size: 2ch;">
    <a class = "btn success" id = "rutas" href = "inicio">Regresar</a>
</div>
</body>
</html>
