<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="practicas.css"/>
  <title>Notas</title>
</head>
<body>


  <div class="navbar">
    <h1></h1>
    <a class="logout-btn" href="practicas"><img style="margin-right: 5%;" src="atras.png" alt="cerrar">Regresar</a>
  </div>


  <div class="welcome">Notas</div>
  <div class="imgC">
    <img class="imgN" src="nt.png" alt="">
  </div>
  
 
  <div class="menu">

    <h1>
        Avertencias inicales:
        <br><br>
        -Para la visión artificial se necesita alguno de los objetos con los que trabaje el modelo de red neuronal.<br>
        -Para la visión artificial se necesita pre-cargar un modelo.<br>
        <br>
        -Para el RFID se necesita pegar bien el TAG.
    </h1>

  </div>

</body>
</html>
