<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="practicas.css"/>
  <title>Prácticas</title>
</head>
<body>


  <div class="navbar">
    <h1></h1>
    <a class="logout-btn" href="inicio"><img style="margin-right: 5%;" src="atras.png" alt="cerrar">Regresar</a>
  </div>


  <div class="welcome">Prácticas con las mesas</div>
  <div class="imgC">
    <img class="img" src="practica.png" alt="">
  </div>
  
 
  <div class="menu">

    <!-- Opción 1: Fotos -->
    <a href="rfid" class="menu-item">
      <div class="icon-space">
        <img src="rfid.png" alt="icono">
      </div>
      <div class="item-text">RFID</div>
    </a>

    <!-- Opción 2: Videos -->
    <a href="vision" class="menu-item">
      <div class="icon-space">
        <img src="ojo.png" alt="icono">
      </div>
      <div class="item-text">Visión artificial</div>
    </a>

    

    <!-- Opción 4: Notas -->
    <a href="notas" class="menu-item">
      <div class="icon-space">
        <img src="notas.png" alt="icono notas">
      </div>
      <div class="item-text">Notas</div>
    </a>

  </div>

</body>
</html>
